.main{
    /* border: 1px solid black; */
    width: 50%;
    height: 800px;
    margin: auto;
}
img{
    width: 100px;
    height: 100px;
    /* margin: 0px; */
}
form{
    display: flex;
    flex-direction: column;
}
form input{
    width: 50%;
    height: 30px;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}
.btn{
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: pink;
    width: 50%;
}