
.product{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: space-around;
    

   
    
    
}

.product2{
    /* border: 2px solid black; */
    margin: 10px;
    /* width: 40%; */
    max-width: 250px;
    /* max-height: 250px; */

}
.product2 img{
    height: 200px;
    width: 200px;
}
.idshow{
    display: flex;
    justify-content: space-evenly;

}
.idshow div{
    border: 1px solid black;
    width: 40%;
    font-size: 1.5rem;
    border-radius: 40px;
}
.showbutton{
    display: flex;
    flex-direction: column;
}
.showbutton img{
    height: 400px;
    width: 400px;
    margin: auto;
    
}
.showbutton button{
    width: 50%;
    margin: auto;
    margin-top: 10px;
}
.btnshow{
    width: 99%;

}
.cart{
    color: green;
    font-size: 2rem;
}
.btnpayment{
    padding: 10px;
    border-radius: 20px;
    background-color: palevioletred;

}
.btnpayment img{
    height: 30px;
    width: 40px;

}
.route{
    width: 90%;
    margin: auto;
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.4rem;
    

}